# Environment
.env
.env.local
.env.*.local

# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
*.g.dart
*.freezed.dart

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Runner/GeneratedPluginRegistrant.*

# Android
android/.gradle/
android/local.properties
android/key.properties
**/android/captures/
**/android/gradlew
**/android/gradlew.bat
**/android/local.properties
**/android/GeneratedPluginRegistrant.java

# macOS
macos/Pods/
macos/Flutter/GeneratedPluginRegistrant.swift

# Web
lib/generated_plugin_registrant.dart

# IDE
.idea/
.vscode/settings.json
*.iml

# OS
.DS_Store
Thumbs.db

# Test coverage
coverage/


#docs
docs/ 